<h1>Pizza finder</h1>
<h4>We will help find you pizza using the Foursquare API!</h4>

<p>Please allow this site access to your location.</p>
<p>Lookup will take a few seconds after you allow access.</p>
<p>This site will default to the address of Peet's coffee in Berkeley, CA if location access is not allowed.</p>

<ul>
    <li><strong>Latitude:</strong> {{lat}}</li>
    <li><strong>Longituge: </strong>{{long}}</li>
    <li><strong>Formatted Address: </strong>{{address}}</li>
</ul>

{{yield}}
