<h1>Home value finder</h1>
<h4>Find nearby home values</h4>

<p>Please allow this site access to your location.</p>
<p>Lookup will take a few seconds after you allow access.</p>
<p>This site will default to homes near Peet's coffee in Berkeley, CA if you either block location access or your coordinates cannot be converted into a formatted address.</p>

<ul>
    <li><strong>Latitude:</strong> {{lat}}</li>
    <li><strong>Longituge: </strong>{{long}}</li>
    <li><strong>Formatted Address: </strong>{{address}}</li>
</ul>

{{yield}}
