<h1>Home value finder</h1>
<h4>Find nearby home values</h4>

<p>Please allow this site access to your location.</p>
<p>Otherwise, this site will default to homes in Berkeley, CA.</p>

<ul>
    <li><strong>Latitude:</strong> {{lat}}</li>
    <li><strong>Longituge: </strong>{{long}}</li>
    <li><strong>Formatted Address: </strong>{{address}}</li>
</ul>

{{yield}}
