body {
    padding: 15px 15px 15px 15px;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

#brand-name {
    color: black;
    font-size: 30px;
}

p a {
    color: black;
}

.location-list-item {
    list-style-type: none;
}

.pizza-list-item {
    list-style-type: none;
}

.tel-link {
    color: black;
}

.my-nav-links {
    font-size: 20px;
    vertical-align: middle;
}
/* Extra small devices (phones, less than 768px)
   No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  body {
    width: 768px;
    margin: auto;
  }

  #brand-name {
      font-size: 35px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        width: 992px;
        margin: auto;
    }

    #brand-name {
        font-size: 35px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        width: 1200px;
        margin: auto;
    }

    #brand-name {
        font-size: 35px;
    }
}