<main>
    <p>This app was created by Richard Rubalcava using Foursquare's API. If you'd like a notice when new apps are released, please enter your email address below.</p>
    {{email-stuff}}
</main>

{{outlet}}
