<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <p id='brand-name' class="navbar-brand">Pizza Finder</p>
    </div>
    <p class='navbar-text my-nav-links'>
        <span>{{#link-to 'index'}}Home{{/link-to}}</span>
        <span class='blank-space'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>{{#link-to 'about'}}About Pizza Finder{{/link-to}}</span></p>
  </div>
</nav>

{{outlet}}